# Ambiente virtual
venv/
ENV/
env/

# Cache do Python
__pycache__/
*.py[cod]
*.pyo

# Arquivos temporários
*.log
*.tmp
*.bak

# VS Code
.vscode/

# Arquivos gerados
*.exe
dist/
build/
*.spec

# Arquivos de Excel gerados
*.xlsx
